* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

.body {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  border: 1px solid slategray;
  padding: 18px;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
}

#submitSearch {
  background-color: cornsilk;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 30px;
  width: 60px;
  margin-left: 10px;
}

.card {
  width: 50%;
  border: 1px solid gray;
  border-radius: 10%;
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card h3 {
  font-size: 20px;
  /* text-align: center; */
}

.card button {
  cursor: pointer;
  height: 100px;
  width: 100px;
  background-color: blanchedalmond;
  border: none;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
